services:
  app:
    image: ${SERVICE_IMAGE}
    container_name: ${SERVICE_CONTAINER}
    restart: ${SERVICE_RESTART}
    environment:
      MODE: ${MODE}
      APP_VERSION: ${APP_VERSION}
      APP_PORT: "${SERVICE_PORT}"
    user: "10001:10001"
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "wget", "-qO", "-", "http://localhost:${SERVICE_PORT}/healthz"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 5s
    volumes:
      - ${APP_LOGS_VOLUME}:/var/log/swiftdeploy
    networks:
      - swiftdeploy

  nginx:
    image: ${NGINX_IMAGE}
    container_name: ${NGINX_CONTAINER}
    restart: ${NGINX_RESTART}
    depends_on:
      app:
        condition: service_healthy
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    ports:
      - "${NGINX_PORT}:${NGINX_PORT}"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ${NGINX_LOGS_VOLUME}:/var/log/nginx
    networks:
      - swiftdeploy

  opa:
    image: ${OPA_IMAGE}
    container_name: ${OPA_CONTAINER}
    restart: ${OPA_RESTART}
    command:
      - "run"
      - "--server"
      - "--addr=0.0.0.0:8181"
      - "/policies"
      - "/data/policy-data.json"
    user: "65534:65534"
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    ports:
      - "127.0.0.1:${OPA_HOST_PORT}:8181"
    volumes:
      - ./policies:/policies:ro
      - ./policy-data.json:/data/policy-data.json:ro
    networks:
      - swiftdeploy

networks:
  swiftdeploy:
    name: ${NETWORK_NAME}
    driver: ${NETWORK_DRIVER}

volumes:
  ${APP_LOGS_VOLUME}:
    name: ${APP_LOGS_VOLUME}
  ${NGINX_LOGS_VOLUME}:
    name: ${NGINX_LOGS_VOLUME}
